img.logo
    width: 55%

.FuqText

.smallText
	font-size: 70%

.insertNewText
	font-size: 150%
	position: absolute
	display: inline-block


.signInButton
	position: absolute
	right: 200px

.inputTaskBox
	width: 450px
	height: 70px

.set
	display: inline-block
